.modalBackground {
    width: 110vw;
    height: 120%;
    background-color: rgba(200, 200, 200, 0.8);
    margin-top: -50%;
    margin-left: -10%;
    position:absolute;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modalContainer {
   
    width: 500px;
    height: 550px;
    border-radius: 12px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 15px 25px;
    margin-top: 5%;

    .body {
        flex: 50%;
        // display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.8rem;
        // text-align: center;

        input[type=text] {
            width: 80%;
            padding: 6px 20px;
            margin: 8px 0;
            box-sizing: border-box;
            margin-bottom: 1%;
          }
          select {
            width: 80%;
            padding: 6px 20px;
            margin: 8px 0;
            box-sizing: border-box;
            margin-bottom: 1%;
          }
      }

    .title{
        display: inline-block;
        text-align: center;
        margin-top: 10px;
      }
      .footer {
        flex: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .footer button {
        width: 150px;
        height: 45px;
        margin: 10px;
        border: none;
        background-color: cornflowerblue;
        color: white;
        border-radius: 8px;
        font-size: 20px;
        cursor: pointer;
      }
  }
  
  .titleCloseBtn {
    display: flex;
    justify-content: flex-end;

    button {
        background-color: transparent;
        border: none;
        font-size: 25px;
        cursor: pointer;
      }
  }
  
  
  #cancelBtn {
    background-color: crimson;
  }

  input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    margin-bottom: 1%;
  }
  